# Variáveis de ambiente para conexão geral com a API do GLPI
GLPI_API_URL="http://glpi.decorlux.com.br/apirest.php/"
GLPI_USER_TOKEN="pgFgRuDMzFr0TB1Gj1sAG4mcLdZ1RYJOYuR9eIeE"
GLPI_APP_TOKEN="NYwbUMzs1t7hwGDqg1XnfTllGk3FnSWoTMuQaBH2"

# Variáveis de ambiente específicas para o cálculo de SLA no GLPI
# Use estas se o card de SLA precisar de permissões/acesso diferente.
GLPI_SLA_API_URL="http://glpi.decorlux.com.br/apirest.php/"
GLPI_SLA_USER_TOKEN="pgFgRuDMzFr0TB1Gj1sAG4mcLdZ1RYJOYuR9eIeE"
GLPI_SLA_APP_TOKEN="NYwbUMzs1t7hwGDqg1XnfTllGk3FnSWoTMuQaBH2"
